@import "tailwindcss";

@theme {
  --color-primary: #ff8901;
  --color-secondary: #fb923c;
  --container-padding: 2rem;
}

/* Custom container utility to ensure centering and padding */
@utility container {
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

@media (width >=1024px) {
  :root {
    --container-padding: 4rem;
  }
}

@media (width >=1280px) {
  :root {
    --container-padding: 5rem;
  }
}